@import '../settings/colors';
@import '../settings/core';
@import '../settings/fonts';
@import '../settings/popovers';
@import '../settings/z-index';
@import '../tools/mixins/reset-text';
@import '../tools/mixins/vendor-prefixes';
@import 'event-overlay';

@include exports('cui-popover') {
  .#{$prefix}-popover {
    display: flex;
    z-index: $zindex-top-bar-fixed - 5;

    &__children {
      
      z-index: $zindex-top-bar-fixed - 4;
      padding: 16px;
      background: $white;
      border-radius: $event-overlay__border-radius;
      box-shadow: $event-overlay__border, $event-overlay__shadow;

    }

    &__arrow {
      z-index: $zindex-top-bar-fixed - 3;
      margin-top: 0px;

      .#{$prefix}-popover--top > & {
        margin-top: -$event-overlay-arrow__height - 2;
        margin-left: -$event-overlay-arrow__width / 2;
        border-top: $event-overlay-arrow__height solid $white;
        border-right: $event-overlay-arrow__width / 2 solid transparent;
        border-left: $event-overlay-arrow__width / 2 solid transparent;
        filter: drop-shadow(0px 2px 0px $event-overlay__border-color);
      }

      .#{$prefix}-popover--left > & {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        margin-top: -$event-overlay-arrow__width / 2;
        margin-left: -$event-overlay-arrow__height - 2;
        border-top: $event-overlay-arrow__width / 2 solid transparent;
        border-bottom: $event-overlay-arrow__width / 2 solid transparent;
        border-left: $event-overlay-arrow__height solid $white;
        filter: drop-shadow(2px 0px 0px $event-overlay__border-color);
        
      }

      .#{$prefix}-popover--right > & {
   
        border-top: $event-overlay-arrow__width / 2 solid transparent;
        border-right: $event-overlay-arrow__height solid $white;
        border-bottom: $event-overlay-arrow__width / 2 solid transparent;
        filter: drop-shadow(-2px 0px 0px $event-overlay__border-color);
      }

      .#{$prefix}-popover--bottom > & {
        margin-top: 2px;
        margin-left: -$event-overlay-arrow__width / 2;
        border-right: $event-overlay-arrow__width / 2 solid transparent;
        border-bottom: $event-overlay-arrow__height solid $white;
        border-left: $event-overlay-arrow__width / 2 solid transparent;
        filter: drop-shadow(0px -2px 0px $event-overlay__border-color);
      }
    }

    &.#{$prefix}-popover--arrow {
      &.#{$prefix}-popover--top > .#{$prefix}-popover__children {
        margin-top: -$event-overlay-arrow__height;
      }

      &.#{$prefix}-popover--right {
        display: flex;
        flex-direction: row;
        align-items: center;
          & > .#{$prefix}-popover__children {
          margin-right: -$event-overlay-arrow__height;
        }
      }

      &.#{$prefix}-popover--bottom > .#{$prefix}-popover__children {
        margin-top: $event-overlay-arrow__height;
      }

    

      &.#{$prefix}-popover--left > .#{$prefix}-popover__children {
        margin-left: -$event-overlay-arrow__height;
      }
    }
  }
}


